html,body{
  height: 100%;
}

body{
  position: relative;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  &:hover{
      color:#fff;
  }
}

.container{
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

#light{
  background-color: #fff;
  height: 100%;
}

#dark{
  background-color:#0f0f0f;
  height: 100%;
}

#root{
  height: 100%;
}