.header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    word-wrap: break-word;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }


    &__icon {
        padding-left: 15px;
    }

    &__title {
        margin-top: 25px;
        font-weight: bold;
        color: rgb(128, 128, 128);
        padding-left: 10px;
    }
    
}




.wrapper{
    display:grid;
    max-width: 1000px;
    margin:0 auto;
    margin-top: 50px;
    grid-template-columns: 80% 20%;
}


.table{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2px;
    &__header{
        display:grid;
        grid-template-columns: 3% 40% 25% calc(32% - 6px) ;
        grid-template-rows: 25px;
        font-weight: bold;
        color:#fff;
        gap:2px;
        &-block{
            display: flex;
            align-items:center;
            background:#5b9bd5;
            padding-left: 5px;
            &:first-child{
                justify-content: center;
                padding: 0;
            }
        }
    }

    &__body{
        overflow-y: scroll;
        display: grid;
        overflow-x: hidden;
        grid-template-columns: calc(100% + 30px);
        min-height:180px;

        &-line{
            display: grid;
            gap:2px;
            grid-template-columns:3% 40% 25% calc(32% - 6px) ;
            grid-template-rows:auto;
            &:nth-child(2n){
                div{
                    background-color:#e9eff7;
                }
            }
        }

        &-block{
            padding: 10px 0 10px 5px;
            background-color:#d0deef;
            &:nth-child(3){
                text-transform: uppercase;
            }
        }
    }
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    // border:1px solid blue;
    button{
        color:#fff;
        width: 125px;
        height: 25px;
        background:#5b9bd5;
        border:1px solid #468aca;
        &:first-child{
            background:#000;
        }
        &:last-child{
            height: 45px;
        }

        &:hover{
            background-color:none;
            cursor: pointer;
        }
    }
}

.info{
    font-weight: bold;
    width:1000px;
    margin:0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:4px;
    &__title{
        color:#7f7f7f;
    }
}



.table__body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius:4px;
    border:1px solid #5b9bd5;
}

.table__body::-webkit-scrollbar {
    width: 30px;
    margin-left: 10px;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border:1px solid #000;
    background-color: #5b9bd5;
}