.header {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    word-wrap: break-word;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }


    &__icon {
        padding-left: 15px;
    }

    &__title {
        margin-top: 25px;
        font-weight: bold;
        color: rgb(128, 128, 128);
        padding-left: 10px;
    }
    
}




.wrapper{
    display:grid;
    max-width: 1000px;
    margin:0 auto;
    margin-top: 50px;
    grid-template-columns: 80% 20%;
}


.table{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2px;
    &__header{
        display:grid;
        grid-template-columns: 3% 40% 25% calc(32% - 6px) ;
        grid-template-rows: 25px;
        font-weight: bold;
        color:#fff;
        gap:2px;
        &-block{
            display: flex;
            align-items:center;
            background:#5b9bd5;
            padding-left: 5px;
            &:first-child{
                justify-content: center;
                padding: 0;
            }
        }
    }

    &__body{
        overflow-y: scroll;
        display: grid;
        overflow-x: hidden;
        grid-template-columns: calc(100% + 30px);
        min-height:180px;

        &-line{
            display: grid;
            gap:2px;
            grid-template-columns:3% 40% 25% calc(32% - 6px) ;
            grid-template-rows:auto;
            &:nth-child(2n){
                div{
                    background-color:#e9eff7;
                }
            }
        }

        &-block{
            padding: 10px 0 10px 5px;
            background-color:#d0deef;
            &:nth-child(3){
                text-transform: uppercase;
            }
        }
    }
}

.btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    // border:1px solid blue;
    button{
        color:#fff;
        width: 125px;
        height: 25px;
        background:#5b9bd5;
        border:1px solid #468aca;
        &:first-child{
            background:#000;
        }
        &:last-child{
            height: 45px;
        }

        &:hover{
            background-color:none;
            cursor: pointer;
        }
    }
}

.info{
    font-weight: bold;
    width:1000px;
    margin:0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:4px;
    &__title{
        color:#7f7f7f;
    }
}













// .table {
//     margin: 0 auto;
//     margin-top: 50px;
//     max-width: 1000px;

//     &__header {
//         display: grid;
//         grid-template-columns: 0.4fr 6fr 4fr 4fr;
//         color: #fff;
//         column-gap: 1px;
//         height: 30px;

//         &-block {
//             font-weight: bold;
//             display: flex;
//             align-items: center;
//             background-color: #5b9bd5;
//             padding:0 0 3px 10px;
//             align-items:flex-end;

//             &:first-child {
//                 justify-content: center;
//                 padding-left: 0;
//             }
//         }
//     }

//     &__body {
//         position: relative;
//         margin-top: 4px;
//         overflow-y: scroll;
//         height: 250px;


//         &-line {
//             width: 100%;
//             display: grid;
//             // grid-template-columns: 30px 6fr 4fr 3.56fr;
//             grid-template-rows: minmax(20px, auto);
//             column-gap: 1px;

//             div {
//                 background: #d0deef;

//                 &:nth-child(3) {
//                     text-transform: uppercase;
//                 }
//             }

//             &:nth-child(2n) {
//                 div {
//                     background: #e9eff7;
//                 }
//             }
//         }

//         &-block {
//             padding: 8px 20px 0 6px;
//         }
//     }
// }




// .footer{
//     display: flex;
//     justify-content: space-between;
//     max-width: 1000px;
//     margin:0 auto;
//     margin-top: 40px;
//     padding-left: 10px;
//     &__info{
//         font-size: 14px;
//         font-weight: bold;
//         line-height: 20px;
//         &-title{
//             color:rgb(128, 128, 128);
//         }
//     }

    // &__btns{
    //     display: flex;
    //     gap:20px;
    //     button{
    //         height: 28px;
    //         width: 150px;
    //         background:#5b9bd5;
    //         color:#fff;
    //         border:1px solid #000;
    //         &:nth-child(2){
    //             background-color:#000;
    //         }
    //         &:nth-child(3){
    //             width: 200px;
    //         }
    //         &:hover{
    //             background-color: none;
    //             cursor: pointer;
    //         }
    //     }
    // }
// }


.table__body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius:4px;
    border:1px solid #5b9bd5;
}

.table__body::-webkit-scrollbar {
    width: 30px;
    margin-left: 10px;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: 7px;
    border:1px solid #000;
    background-color: #5b9bd5;
}